{% extends "layouts/base.html" %}

{% block title %} Menu principal {% endblock %}

{% block stylesheets %} {% endblock stylesheets %}

{% block content %}

<div class="page-inner">

    <div class="page-header">
        <h4 class="page-title">Crear usuarios</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a href="{% url 'redirector' %}">
                    <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
        </ul>
    </div>

    <div class="col-md-8 mr-auto ml-auto card">
        <div class="card-header">
            <div class="card-title">
                Crear un nuevo usuario
            </div>
        </div>
        <div class="card-body form-group col-md-8 mr-auto ml-auto">

            <form method="POST">

                {% csrf_token %}
                {{ form.as_p }}
                {{ form_user.client.label_tag }}
                {{ form_user.client }}

                <div class="form-check mt-4 mb-2 text-center">
                    <label class="form-check-label">
                        {{ form_user.is_cultureteam }}
                        <span class="form-check-sign"></span>{{ form_user.is_cultureteam.label_tag }}</span>
                    </label>
                    <label class="form-check-label">
                        {{ form_user.is_organizer }}
                        <span class="form-check-sign"></span>{{ form_user.is_organizer.label_tag }}</span>
                    </label>

                    <p class="mt-4">Al crear el usuario se le enviara un correo electrónico para poder validar su cuenta y terminar de rellenar su perfil.</p>

                    <button class="btn btn-success mb-3" type="submit" name="create_user" id="blockbutton">Crear</button>
                    <button class="btn btn-success mb-3" style="width: 80px; display: none;" id="spinner-button"><span class="btn-label"><i class="fas fa-spinner fa-lg i-spinner"></i></span></button>
                </div>

            </form>

        </div>

    </div>

</div>

{% endblock content %}



{% block javascripts %} 
<script>
    $('#blockbutton').click(function() {
        $(this).hide();
        $('#spinner-button').show();
    });
</script>
{% endblock javascripts %}