<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Editar cliente</h2>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form method="POST">
            {% csrf_token %}
            <div class="modal-body card-body form-group">

                <input type="text" name="client_pk" value="{{ client.pk }}" class="form-control" style="display: none;">

                <label for="name" class="mt-3">Nombre del cliente: </label>
                <input type="text" name="name" id="name" class="form-control" value="{{ client.name }}">

                <label for="description" class="mt-3">Descripción: </label>
                <textarea name="description" id="description" cols="20" rows="10" class="form-control">{{ client.description }}</textarea>

            </div>
            
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" data-dismiss="modal">Cancelar</button>
                <input type="submit" value="Guardar" name="edit_client" onsubmit="setFormSubmitting()" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>