<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h2 class="modal-title">Editar cliente</h2>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form method="POST">
            {% csrf_token %}
            <div class="modal-body card-body form-group" style="max-height: 400px; overflow: scroll; overflow-x: hidden;">

                <input type="text" name="client_pk" value="{{ client.pk }}" class="form-control" style="display: none;">
                <div class="col-md-11 ml-auto mr-auto mt-2">
                    {{ form.name.label_tag }}
                    {{ form.name }}

                    {{ form.teamslink.label_tag }}
                    {{ form.teamslink }}

                    {{ form.description.label_tag }}
                    {{ form.description }}

                    <div class="form-check">
                        <label class="form-check-label">
                            {{ form.disabled }}
                            <span class="form-check-sign"></span>{{ form.disabled.label_tag }}</span>
                        </label>
                    </div>

                </div>

            </div>
            
            <div class="modal-footer">
                <button class="btn btn-danger" type="button" data-dismiss="modal">Cancelar</button>
                <input type="submit" value="Guardar" name="edit_client" onsubmit="setFormSubmitting()" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>