{% extends "layouts/base.html" %}

{% block title %} Menu principal {% endblock %}

{% block stylesheets %} {% endblock stylesheets %}

{% block content %}

<div class="page-inner">

    <div class="page-header">
        <h4 class="page-title">Menu principal Cultura</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a href="{% url 'redirector' %}">
                    <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
        </ul>
    </div>

    <div class="col-md-12 card">
        <div class="card-header text-center">
            <div class="card-title">Estado semanal</div>
        </div>
        <div  class="card-body row">
            <div class="px-2 pb-2 pb-md-0 text-center col-md-12 ml-auto mr-auto">
                <div id="inprocess_circle"><div class="circles-wrp" style="position: relative; display: inline-block;"><svg xmlns="http://www.w3.org/2000/svg" width="90" height="90"><path fill="transparent" stroke="#f1f1f1" stroke-width="7" d="M 44.99154756204665 3.500000860767564 A 41.5 41.5 0 1 1 44.942357332570026 3.500040032273624 Z" class="circles-maxValueStroke"></path><path fill="transparent" stroke="#FF9E27" stroke-width="7" d="M 44.99154756204665 3.500000860767564 A 41.5 41.5 0 1 1 20.644357636259837 78.60137921350231 " class="circles-valueStroke"></path></svg><div class="circles-text" style="position: absolute; top: 0px; left: 0px; text-align: center; width: 100%; font-size: 31.5px; height: 90px; line-height: 90px;">5</div></div></div>
                <h6 class="fw-bold mt-3 mb-0">Tareas en proceso</h6>
            </div>

            <div class="px-2 pb-2 pb-md-0 text-center col-md-6 ml-auto mr-auto mt--5" id="graphs">
                <div id="rejected_circle"><div class="circles-wrp" style="position: relative; display: inline-block;"><svg xmlns="http://www.w3.org/2000/svg" width="90" height="90"><path fill="transparent" stroke="#f1f1f1" stroke-width="7" d="M 44.99154756204665 3.500000860767564 A 41.5 41.5 0 1 1 44.942357332570026 3.500040032273624 Z" class="circles-maxValueStroke"></path><path fill="transparent" stroke="#FF9E27" stroke-width="7" d="M 44.99154756204665 3.500000860767564 A 41.5 41.5 0 1 1 20.644357636259837 78.60137921350231 " class="circles-valueStroke"></path></svg><div class="circles-text" style="position: absolute; top: 0px; left: 0px; text-align: center; width: 100%; font-size: 31.5px; height: 90px; line-height: 90px;">5</div></div></div>
                <h6 class="fw-bold mt-3 mb-0">Tareas rechazadas</h6>
            </div>

            <div class="px-2 pb-2 pb-md-0 text-center col-md-6 ml-auto mr-auto mt--5" id="graphs">
                <div id="finished_circle"><div class="circles-wrp" style="position: relative; display: inline-block;"><svg xmlns="http://www.w3.org/2000/svg" width="90" height="90"><path fill="transparent" stroke="#f1f1f1" stroke-width="7" d="M 44.99154756204665 3.500000860767564 A 41.5 41.5 0 1 1 44.942357332570026 3.500040032273624 Z" class="circles-maxValueStroke"></path><path fill="transparent" stroke="#FF9E27" stroke-width="7" d="M 44.99154756204665 3.500000860767564 A 41.5 41.5 0 1 1 20.644357636259837 78.60137921350231 " class="circles-valueStroke"></path></svg><div class="circles-text" style="position: absolute; top: 0px; left: 0px; text-align: center; width: 100%; font-size: 31.5px; height: 90px; line-height: 90px;">5</div></div></div>
                <h6 class="fw-bold mt-3 mb-0">Tareas terminadas</h6>
            </div>


            <div class="col-md-4 mt-5">
                <div class="card-header bg-danger-gradient">
                    <div class="card-title fw-mediumbold text-white">Tareas rechazadas</div>
                </div>
                <div class="card-body" style="max-height: 700px !important; overflow: auto;">
                    <div class="card-list">
                        {% if rejected_tasks %}
                        {% for task in rejected_tasks %}
                            <div class="item-list">
                                <div class="avatar">
                                    <img src="/static/assets/img/download.jpg" alt="..." class="avatar-img rounded-circle">
                                </div>
                                <div class="info-user ml-3">
                                    <div class="username">{{ task.name }}<i class="fas fa-external-link-alt text-dark ml-2"></i></div>
                                    <div class="status">Ultima actualización: {{ task.updated_at }}</div>
                                </div>
                            </div>
                        {% endfor %}
                        {% else %}
                        <div class="item-list text-muted">
                            <h5>No hay tareas rechazadas esta semana</h5>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        
            <div class="col-md-4 mt-5">
                <div class="card-header bg-primary-gradient">
                    <div class="card-title fw-mediumbold text-white">Tareas en proceso</div>
                </div>
                <div class="card-body" style="max-height: 400px !important; overflow: auto;">
                    <div class="card-list">
                        {% if inprocess_tasks %}
                        {% for task in inprocess_tasks %}
                            <div class="item-list">
                                <div class="avatar">
                                    <img src="/static/assets/img/download.jpg" alt="..." class="avatar-img rounded-circle">
                                </div>
                                <div class="info-user ml-3">
                                    <div class="username">{{ task.name }}<i class="fas fa-external-link-alt text-dark ml-2"></i></div>
                                    <div class="status">Ultima actualización: {{ task.updated_at }}</div>
                                </div>
                            </div>
                        {% endfor %}
                        {% else %}
                        <div class="item-list text-muted">
                            <h5>No hay tareas en proceso esta semana</h5>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>

            <div class="col-md-4 mt-5">
                <div class="card-header bg-success-gradient">
                    <div class="card-title fw-mediumbold text-white">Tareas terminadas</div>
                </div>
                <div class="card-body" style="max-height: 400px !important; overflow: auto;">
                    <div class="card-list">
                        {% if finished_tasks %}
                        {% for task in finished_tasks %}
                            <div class="item-list">
                                <div class="avatar">
                                    <img src="/static/assets/img/download.jpg" alt="..." class="avatar-img rounded-circle">
                                </div>
                                <div class="info-user ml-3">
                                    <div class="username">{{ task.name }}<i class="fas fa-external-link-alt text-dark ml-2"></i></div>
                                    <div class="status">Ultima actualización: {{ task.updated_at }}</div>
                                </div>
                            </div>
                        {% endfor %}
                        {% else %}
                        <div class="item-list text-muted">
                            <h5>No hay tareas finalizadas esta semana</h5>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 card mt-5">
        <div class="card-header text-center">
            <div class="card-title">Actividades mensuales</div>
        </div>
        <div class="card-body">
            <div class="chart-container">
                <canvas id="lineChart"></canvas>
            </div>
        </div>
    </div>

</div>

{% endblock content %}

{% block javascripts %} 

<script>

//////////////////////////////////////////////Grafico tareas semanales//////////////////////////////////////////////

    Circles.create({
    id:'rejected_circle',
    radius:70,
    value: {% if count_rejected %} {{ count_rejected }} {% else %} 0 {% endif %},
    maxValue:{{ total_task }},
    width:12,
    text: {% if count_rejected %} {{ count_rejected }} {% else %} '0' {% endif %},
    colors:['#f1f1f1', '#e80a15'],
    duration:400,
    wrpClass:'circles-wrp',
    textClass:'circles-text',
    styleWrapper:true,
    styleText:true
})

Circles.create({
    id:'inprocess_circle',
    radius:100,
    value: {% if count_inprocess %} {{ count_inprocess }} {% else %} 0 {% endif %},
    maxValue:{{ total_task }},
    width:22,
    text: {% if count_inprocess %} {{ count_inprocess }} {% else %} '0' {% endif %},
    colors:['#f1f1f1', '#177dff'],
    duration:400,
    wrpClass:'circles-wrp',
    textClass:'circles-text',
    styleWrapper:true,
    styleText:true
})

Circles.create({
    id:'finished_circle',
    radius:70,
    value: {% if count_finished %} {{ count_finished }} {% else %} 0 {% endif %},
    maxValue:{{ total_task }},
    width:12,
    text: {% if count_finished %} {{ count_finished }} {% else %} '0' {% endif %},
    colors:['#f1f1f1', '#2BB930'],
    duration:400,
    wrpClass:'circles-wrp',
    textClass:'circles-text',
    styleWrapper:true,
    styleText:true
})


//////////////////////////////////////////////Grafico tareas totales//////////////////////////////////////////////

var lineChart = document.getElementById('lineChart').getContext('2d');

var myLineChart = new Chart(lineChart, {
			type: 'line',
			data: {
				labels: [{% for value in graph_month_list %}"{{value}}"{% if forloop.last %}{% else %},{% endif %}{% endfor %}],
				datasets: [{
					label: "Actividades",
					borderColor: "#1d7af3",
					pointBorderColor: "#FFF",
					pointBackgroundColor: "#1d7af3",
					pointBorderWidth: 2,
					pointHoverRadius: 4,
					pointHoverBorderWidth: 1,
					pointRadius: 6,
					backgroundColor: 'transparent',
					fill: true,
					borderWidth: 3,
					data: [{% for value in graph_activities %} {{value|length}} {% if forloop.last %}{% else %},{% endif %}{% endfor %}]
				}]
			},
			options : {
				responsive: true, 
				maintainAspectRatio: false,
				legend: {
					position: 'bottom',
					labels : {
						padding: 10,
						fontColor: '#1d7af3',
					}
				},
				tooltips: {
					bodySpacing: 4,
					mode:"nearest",
					intersect: 0,
					position:"nearest",
					xPadding:10,
					yPadding:10,
					caretPadding:10
				},
				layout:{
					padding:{left:15,right:15,top:15,bottom:15}
				}
			}
		});

</script>

{% endblock javascripts %}