{% extends "layouts/base.html" %}

{% block title %}Listado de clientes: {{ segment }}{% endblock %}

{% block stylesheets %} {% endblock stylesheets %}

{% block content %}

<div class="panel-header bg-secondary-gradient">
    <div class="page-inner py-5">
        <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
            <div>
                <img src="/static/assets/img/unnamed.png" alt="" style="height: 100px; width: 100px;">
            </div>
            <div class="ml-3 mr-3">
                <h2 class="text-white pb-2 fw-bold">{{ segment }}</h2>
                <h5 class="text-white op-7 mb-2 text-justify">{{ segment.description }}</h5>
            </div>
            <div class="ml-md-auto py-2 py-md-0">
                <a class="btn btn-white btn-border btn-round mr-2" name="edit_module" onclick="open_modal('{% url 'edit_module' module=segment.uuid %}')">Modificar</a>
            </div>
        </div>
    </div>
</div>

<div class="page-inner">

    <div class="page-header">
        <h4 class="page-title">Listado de clientes: {{ segment }} </h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a href="{% url 'redirector' %}">
                    <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
        </ul>
    </div>
    
    <div class="row mt-5">
        
        {% for client in client_list_module %}
            {% if not client.client.disabled %}
                {% if client.disabled %}
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="card card-profile" style="background-color: #1571e81e; height: 400px;" id="bodycontent">
                        <div class="card-header" style="background-color:rgb(118, 149, 206);">
                            <form action="" method="POST">
                                {% csrf_token %}
                                <input type="text" value="{{ client.client.uuid }}" name="client_uuid" style="display: none;">
                                <button style="padding: 0%; background-color: Transparent; border: none;" class="btn-round pull-right" type="submit" name="add_client_module" onsubmit="setFormSubmitting()">
                                    <i class="far fa-circle text-primary fa-3x" id="iconhover" data-original-title="Habilitar modulo" data-toggle="tooltip"></i>
                                </button>
                            </form>
                            
                            <div class="profile-picture">
                                <div class="avatar avatar-xl">
                                    <img src="/static/assets/img/download.jpg" alt="..." class="avatar-img rounded-circle">
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="user-profile text-center">
                                <div class="name" style="text-transform: uppercase;">{{ client.client.name }}</div>
                                <div class="desc text-dark text-justify" style="height: 40px; overflow: hidden; text-overflow: clip;" id="description">{{ client.client.description }}</div>
                                <div id="iconcontent"><i class="icon-arrow-up fa-lg"></i></div>
                                <div class="view-profile mt-2">
                                    <a href="{% url 'module_client' module=segment.uuid client=client.client.uuid %}" class="btn btn-block" style="background-color: rgb(118, 149, 206); color: white;">Detalles</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row user-stats text-center">
                                <div class="col">
                                    <div class="number">125</div>
                                    <div class="title">Actividades</div>
                                </div>
                                <div class="col">
                                    <div class="number">134</div>
                                    <div class="title">Tareas</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="col-xl-4 col-lg-6 col-md-6">
                    <div class="card card-profile"  style="height: 400px !important;">
                        <div class="card-header bg-primary-gradient">
                            <form action="" method="POST">
                                {% csrf_token %}
                                <input type="text" value="{{ client.client.uuid }}" name="client_uuid" style="display: none;">
                                <button style="padding: 0%; background-color: Transparent; border: none;" class="btn-round pull-right" type="submit" name="remove_client_module" onsubmit="setFormSubmitting()">
                                    <i class="far fa-check-circle text-success fa-3x pull-right" id="iconhover" data-original-title="Deshabilitar modulo" data-toggle="tooltip"></i>
                                </button>
                            </form>
                            
                            <div class="profile-picture">
                                <div class="avatar avatar-xl">
                                    <img src="/static/assets/img/download.jpg" alt="..." class="avatar-img rounded-circle">
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="user-profile text-center">
                                <div class="name" style="text-transform: uppercase;">{{ client.client.name }}</div>
                                <div class="desc text-dark text-justify" style="height: 40px; overflow: hidden; text-overflow: clip;" id="description">{{ client.client.description }}</div>
                                <div id="iconcontent"><i class="icon-arrow-up fa-lg"></i></div>
                                <div class="view-profile mt-2">
                                    <a href="{% url 'module_client' module=segment.uuid client=client.client.uuid %}" class="btn btn-primary btn-block">Detalles</a>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row user-stats text-center">
                                <div class="col">
                                    <div class="number">125</div>
                                    <div class="title">Actividades</div>
                                </div>
                                <div class="col">
                                    <div class="number">134</div>
                                    <div class="title">Tareas</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endif %}
        {% endfor %}

        {% for client in client_list %}
            <div class="col-xl-4 col-lg-6 col-md-6">
                <div class="card card-profile" style="background-color: #1571e81e; height: 400px !important;">
                    <div class="card-header" style="background-color:rgb(118, 149, 206);">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <input type="text" value="{{ client.uuid }}" name="client_uuid" style="display: none;">
                            <button style="padding: 0%; background-color: Transparent; border: none;" class="btn-round pull-right" type="submit" name="add_client_module" onsubmit="setFormSubmitting()">
                                <i class="far fa-circle text-primary fa-3x" id="iconhover" data-original-title="Habilitar modulo" data-toggle="tooltip"></i>
                            </button>
                        </form>
                        
                        <div class="profile-picture">
                            <div class="avatar avatar-xl">
                                <img src="/static/assets/img/download.jpg" alt="..." class="avatar-img rounded-circle">
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="user-profile text-center">
                            <div class="name" style="text-transform: uppercase;">{{ client.name }}</div>
                            <div class="desc text-dark text-justify" style="height: 40px; overflow: hidden; text-overflow: clip;" id="description">{{ client.description }}</div>
                            <div id="iconcontent"><i class="icon-arrow-up fa-lg"></i></div>
                            <div class="view-profile mt-2">
                                <a href="{% url 'module_client' module=segment.uuid client=client.uuid %}" class="btn btn-block" style="background-color: rgb(118, 149, 206); color: white;">Detalles</a>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row user-stats text-center">
                            <div class="col">
                                <div class="number">125</div>
                                <div class="title">Actividades</div>
                            </div>
                            <div class="col">
                                <div class="number">134</div>
                                <div class="title">Tareas</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>
</div>

<div class="modal fade col-md-6 ml-auto mr-auto" id="edit" role="dialog">

</div>

{% endblock content %}

{% block javascripts %} 
<script type="text/javascript">

    var $ = jQuery.noConflict();
    function open_modal(url){
        $('#edit').load(url, function(){
            $(this).modal('show');
        });
    }

</script>

<script>

$( "div #iconcontent" ).on( "click", function() {

    if($(this).find('i').hasClass('icon-arrow-up')){
        $(this).find('i').toggleClass("icon-arrow-up icon-arrow-down");
        $(this).prev().css( "height", "auto" );
        $(this).closest("#bodycontent").css("height", "auto")
    }
    else{
        $(this).find('i').toggleClass("icon-arrow-up icon-arrow-down");
        $(this).prev().css( "height", "40px" );
        $(this).closest("#bodycontent").css("height", "400px")
    }
});

</script>
{% endblock javascripts %}