{% extends "layouts/base.html" %}

{% block title %} Menu principal {% endblock %}

{% block stylesheets %} {% endblock stylesheets %}

{% block content %}

<div class="page-inner">

    <div class="page-header">
        <h4 class="page-title">Menu principal</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a href="{% url 'home' %}">
                    <i class="flaticon-home"></i>
                </a>
            </li>
        </ul>
    </div>

    <div class="card">

        <div class="card-header">
            <div class="card-title">
                Proximas actividades
            </div>
        </div>

        <div class="card-body">

                <!--Carousel Wrapper-->
                <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">
            
                  <!--Controls-->
                  <div class="controls-top col-md-4 ml-auto mr-auto mt-2 mb-3">
                    <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left fa-lg"></i></a>
                    <a class="btn-floating pull-right" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right fa-lg"></i></a>
                  </div>
                  <!--/.Controls-->
            
                  <!--Indicators-->
                  <ol class="carousel-indicators">
                    <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
                    <li data-target="#multi-item-example" data-slide-to="1"></li>
                    <li data-target="#multi-item-example" data-slide-to="2"></li>
                  </ol>
                  <!--/.Indicators-->
            
                  <!--Slides-->
                  <div class="carousel-inner" role="listbox">
            
                    <!--First slide-->
                    <div class="carousel-item active">
            
                      <div class="row">

                        <div class="col-md-4">
                          <div class="card mb-2">
                            <div class="card-body mt--3">
                                <time datetime="" class="icon">
                                    <em>Martes</em>
                                    <strong>Octubre</strong>
                                    <span>13</span>
                                </time>
                                <h4 class="card-title">Card title</h4>
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                    card's content.</p>
                            </div>
                          </div>
                        </div>

                        <div class="col-md-4 ">
                            <div class="card mb-2">
                              <div class="card-body mt--3">
                                  <time datetime="" class="icon">
                                      <em>Martes</em>
                                      <strong>Octubre</strong>
                                      <span>13</span>
                                  </time>
                                  <h4 class="card-title">Card title</h4>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                      card's content.</p>
                              </div>
                            </div>
                          </div>

                          <div class="col-md-4 clearfix d-none d-md-block">
                            <div class="card mb-2">
                              <div class="card-body mt--3">
                                  <time datetime="" class="icon">
                                      <em>Martes</em>
                                      <strong>Octubre</strong>
                                      <span>13</span>
                                  </time>
                                  <h4 class="card-title">Card title</h4>
                                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                      card's content.</p>
                              </div>
                            </div>
                          </div>
                      </div>
            
                    </div>
                    <!--/.First slide-->
            
                    <!--Second slide-->
                    <div class="carousel-item">
            
                      <div class="row">
                        <div class="col-md-4">
                          <div class="card mb-2">

                            <div class="card-body">
                              <h4 class="card-title">Card title</h4>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>

                            </div>
                          </div>
                        </div>
            
                        <div class="col-md-4 clearfix d-none d-md-block">
                          <div class="card mb-2">

                            <div class="card-body">
                              <h4 class="card-title">Card title</h4>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>

                            </div>
                          </div>
                        </div>
            
                        <div class="col-md-4 clearfix d-none d-md-block">
                          <div class="card mb-2">

                            <div class="card-body">
                              <h4 class="card-title">Card title</h4>
                              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                                card's content.</p>
                            </div>
                          </div>
                        </div>
                      </div>
            
                    </div>
                    <!--/.Second slide-->
    
                  </div>
                  <!--/.Slides-->
            
                </div>
                <!--/.Carousel Wrapper-->
        </div>
    </div>

    <div class="card mt-5">
        <div class="card-header">
            <div class="card-title">Resumen indicadores de riesgos</div>
        </div>

        <div class="card-body row">

            <div class="col-12 col-sm-6 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h5><b>Phishing</b></h5>
                                <p class="text-muted">

                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec justo mauris, blandit sit amet luctus lacinia, auctor vel lorem. Cras molestie condimentum magna, ut mattis purus sollicitudin eu. In hac. </p>
                            </div>

                        </div>
                        <div class="progress progress-sm" style="height: 25px;">
                            <div class="progress-bar bg-info w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="d-flex justify-content-between mt-2">
                            <p class="text-muted mb-0">Avance</p>
                            <p class="text-muted mb-0">75%</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h5><b>Phishing</b></h5>
                                <p class="text-muted">

                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec justo mauris, blandit sit amet luctus lacinia, auctor vel lorem. Cras molestie condimentum magna, ut mattis purus sollicitudin eu. In hac. </p>
                            </div>

                        </div>
                        <div class="progress progress-sm" style="height: 25px;">
                            <div class="progress-bar bg-info w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="d-flex justify-content-between mt-2">
                            <p class="text-muted mb-0">Avance</p>
                            <p class="text-muted mb-0">75%</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h5><b>Phishing</b></h5>
                                <p class="text-muted">

                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec justo mauris, blandit sit amet luctus lacinia, auctor vel lorem. Cras molestie condimentum magna, ut mattis purus sollicitudin eu. In hac. </p>
                            </div>

                        </div>
                        <div class="progress progress-sm" style="height: 25px;">
                            <div class="progress-bar bg-info w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="d-flex justify-content-between mt-2">
                            <p class="text-muted mb-0">Avance</p>
                            <p class="text-muted mb-0">75%</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h5><b>Phishing</b></h5>
                                <p class="text-muted">

                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec justo mauris, blandit sit amet luctus lacinia, auctor vel lorem. Cras molestie condimentum magna, ut mattis purus sollicitudin eu. In hac. </p>
                            </div>

                        </div>
                        <div class="progress progress-sm" style="height: 25px;">
                            <div class="progress-bar bg-info w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="d-flex justify-content-between mt-2">
                            <p class="text-muted mb-0">Avance</p>
                            <p class="text-muted mb-0">75%</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h5><b>Phishing</b></h5>
                                <p class="text-muted">

                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec justo mauris, blandit sit amet luctus lacinia, auctor vel lorem. Cras molestie condimentum magna, ut mattis purus sollicitudin eu. In hac. </p>
                            </div>

                        </div>
                        <div class="progress progress-sm" style="height: 25px;">
                            <div class="progress-bar bg-info w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="d-flex justify-content-between mt-2">
                            <p class="text-muted mb-0">Avance</p>
                            <p class="text-muted mb-0">75%</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 col-sm-6 col-md-4">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <div>
                                <h5><b>Phishing</b></h5>
                                <p class="text-muted">

                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec justo mauris, blandit sit amet luctus lacinia, auctor vel lorem. Cras molestie condimentum magna, ut mattis purus sollicitudin eu. In hac. </p>
                            </div>

                        </div>
                        <div class="progress progress-sm" style="height: 25px;">
                            <div class="progress-bar bg-info w-75" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <div class="d-flex justify-content-between mt-2">
                            <p class="text-muted mb-0">Avance</p>
                            <p class="text-muted mb-0">75%</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

{% endblock content %}



{% block javascripts %} 
{% endblock javascripts %}