{% extends "layouts/base.html" %}

{% block title %} Modulo NAME {% endblock %}

{% block stylesheets %} {% endblock stylesheets %}



{% block content %}

<div class="page-inner">

    <div class="page-header">
        <h4 class="page-title">Módulo: Phishing</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a href="{% url 'home' %} ">
                    <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
        </ul>
    </div>


    <div class="card" style="user-select: none;">
        <div class="card-header">
            <div class="card-title">Estado de actividades</div>
        </div>
        <div class="card-body table-responsive">
            <table class="table table-hover" id="table_module">
                <thead>
                    <tr style="background-color: #48abf7 !important; color: #fff;">
                        <th scope="col" width="3%">#</th>
                        <th scope="col">Actividad</th>
                        <th scope="col">Estado actual</th>
                        <th scope="col" width="15%">Fecha programada</th>
                        <th scope="col" width="3%">Documento</th>
                    </tr>
                </thead>
                <tbody>

                    <tr class="mainactivity">
                        <td>1</td>
                        <td>Actividad 1</td>
                        <td><select name="estado" id="" class="form-group">
                            <option value="CYBERTRUST SUBIENDO MATERIAL FINAL" selected>CYBERTRUST SUBIENDO MATERIAL FINAL</option>
                            <option value="ESPERANDO REVISION DEL CLIENTE">ESPERANDO REVISION DEL CLIENTE</option>
                            <option value="CYBERTRUST CORRIGIENDO MATERIAL">CYBERTRUST CORRIGIENDO MATERIAL</option>
                        </select>
                        <button class="btn btn-sm btn-secondary">
                            Actualizar
                        </button></td>
                        <td>25/10/2020</td>
                        <td><center><div class="spinner"></div></center></td>
                    </tr>

                    <tr class="secactivity" style="display: none; color: #043353 !important;">
                        <td colspan="5" style="padding: 0 !important;">
                            <div class="row">
                                <div class="col-md-4 p-3" style="text-align: justify;"><h3>Descripción de la actividad:</h3><br><p>Integer id eros sed urna porttitor molestie sit amet vel ligula. Suspendisse sed justo ultricies, cursus elit eu, laoreet mauris. Nunc congue tristique massa non lobortis. Etiam et pulvinar tellus.</p></div>
                                <div class="col-md-8">
                                    <table style="width: 100%;">
                                        <tr>
                                            <thead>
                                                <tr>
                                                    <th width="3%"></th>
                                                    <th style="color: #575962 !important;">Proceso</th>
                                                    <th style="color:#575962 !important;">Fecha actualización</th>
                                                    <th width="3%"></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-center"><i class="far fa-check-square fa-2x" style="color: green;"></i></td>
                                                    <td>Revisión</td>
                                                    <td>25/10/2020</td>
                                                    <td><i class="fas fa-trash fa-lg" style="color: red;"></i></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center"><i class="far fa-check-square fa-2x" style="color: green;"></i></td>
                                                    <td>Revisión</td>
                                                    <td>25/10/2020</td>
                                                    <td><i class="fas fa-trash fa-lg" style="color: red;"></i></td>
                                                </tr>
                                                <tr>
                                                    <td class="text-center"><i class="far fa-check-square fa-2x" style="color: green;"></i></td>
                                                    <td>Creación</td>
                                                    <td>25/10/2020</td>
                                                    <td><i class="fas fa-trash fa-lg" style="color: red;"></i></td>
                                                </tr>
                                            </tbody>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr class="mainactivity">
                        <td>1</td>
                        <td>Actividad 1</td>
                        <td class="h3">CYBERTRUST SUBIENDO EL DOCUMENTO FINAL</td>
                        <td>25/10/2020</td>
                        <td><center><div class="spinner"></div></center></td>
                    </tr>

                    <tr class="secactivity" style="display: none; color: #043353 !important;">
                        <td colspan="5" style="padding: 0 !important;">
                            <div class="row">
                                <div class="col-md-4 p-3" style="text-align: justify;"><h3>Descripción de la actividad:</h3><br><p>Integer id eros sed urna porttitor molestie sit amet vel ligula. Suspendisse sed justo ultricies, cursus elit eu, laoreet mauris. Nunc congue tristique massa non lobortis. Etiam et pulvinar tellus.</p><br><center><button class="btn btn-sm btn-info">Ver demo</button></center></div>
                                <div class="col-md-8">
                                    <table style="width: 100%;">
                                        <tr>
                                            <thead>
                                                <tr>
                                                    <th width="3%"></th>
                                                    <th style="color: #575962 !important;">Proceso</th>
                                                    <th style="color:#575962 !important;">Fecha actualización</th>
                                                    
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-center"><i class="far fa-check-square fa-2x" style="color: green;"></i></td>
                                                    <td>Revisión</td>
                                                    <td>25/10/2020</td>
                                                    
                                                </tr>
                                                <tr>
                                                    <td class="text-center"><i class="far fa-check-square fa-2x" style="color: green;"></i></td>
                                                    <td>Revisión</td>
                                                    <td>25/10/2020</td>
                                                    
                                                </tr>
                                                <tr>
                                                    <td class="text-center"><i class="far fa-check-square fa-2x" style="color: green;"></i></td>
                                                    <td>Creación</td>
                                                    <td>25/10/2020</td>
                                                    
                                                </tr>
                                            </tbody>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

    <hr width="90%" class="mt-5 mb-5">

    <div class="card">
        <div class="card-header">
            <div class="card-title">Estado de encuestas</div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover table-head-bg-info">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Encuesta</th>
                            <th scope="col" style="width: 140px !important;">N° preguntas</th>
                            <th scope="col" style="width: 140px !important;">N° personas</th>
                            <th scope="col"></th>
                            <th scope="col" style="width: 130px !important;">Estado</th>
                            <th scope="col"></th>
                            <th scope="col" style="width: 300px !important;">% respondido</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><a href="{% url 'survey_detail' %}" class="h5">1</a></td>
                            <td><a href="{% url 'survey_detail' %}" class="h5">Encuesta con nombre largo phishing</a></td>
                            <td><a href="{% url 'survey_detail' %}" class="h5">15</a></td>
                            <td><a href="{% url 'survey_detail' %}" class="h5">120</a></td>
                            <td class="text-right" style="width: 5% !important; padding: 0px !important;"><i class="fas fa-check fa-lg" style="color: green;"></i></td>
                            <td>Finalizado</td>
                            <td class="text-right" style="width: 5% !important; padding: 0px !important;">100%</td>
                            <td>
                                <div class="progress progress-sm">
                                    <div class="progress-bar bg-success w-100" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><a href="{% url 'survey_detail' %}" class="h5">2</a></td>
                            <td><a href="{% url 'survey_detail' %}" class="h5">Phishing</a></td>
                            <td><a href="{% url 'survey_detail' %}" class="h5">15</a></td>
                            <td><a href="{% url 'survey_detail' %}" class="h5">120</a></td>
                            <td class="text-right" style="width: 5% !important; padding: 0px !important;"><i class="fas fa-times fa-lg" style="color: red;"></i></td>
                            <td>Cancelado</td>
                            <td class="text-right" style="width: 5% !important; padding: 0px !important;">25%</td>
                            <td>
                                <div class="progress progress-sm">
                                    <div class="progress-bar bg-danger w-25" role="progressbar" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td><a href="{% url 'survey_detail' %}" class="h5">3</a></td>
                            <td><a href="{% url 'survey_detail' %}" class="h5">Phishing</a></td>
                            <td><a href="{% url 'survey_detail' %}" class="h5">15</a></td>
                            <td><a href="{% url 'survey_detail' %}" class="h5">120</a></td>
                            <td class="text-right" style="width: 5% !important; padding: 0px !important;"><i class="fas fa-spinner fa-lg" style="color: blue;"></i></td>
                            <td>En proceso</td>
                            <td class="text-right" style="width: 5% !important; padding: 0px !important;">50%</td>
                            <td>
                                <div class="progress progress-sm">
                                    <div class="progress-bar bg-primary w-50" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

{% endblock content %}


{% block javascripts %} 
<script type="text/javascript">
    $(document).ready(function() {
        $(".mainactivity").click(function (e) {
            $(this).closest("tr").next(".secactivity").toggle();
        });
    });
</script>
{% endblock javascripts %}