{% extends "layouts/base_simple.html" %}

{% block title %} Survey {% endblock %}

{% block stylesheets %} {% endblock stylesheets %}

{% block content %}

<div class="card noselect">
    <div class="panel-header bg-secondary-gradient">
        <div class="page-inner py-5 text-center col-md-5 mr-auto ml-auto">
            <div class="d-flex align-items-left align-items-md-center flex-column">
                <div>
                    <img src="/static/assets/img/cybertrust_candado.png" alt="" style="height: 150px; width: 120px;">
                </div>
                <div class="ml-3 mr-3 mt-2">
                    <h2 class="text-white pb-2 fw-bold">ENCUESTA</h2>
                    <h5 class="text-white op-7 mb-2 text-justify">Evaluación Cultura en Ciberseguridad Organizacional </h5>
                </div>
            </div>
    
            <div class="progress progress-md mt-4">
                <div class="progress-bar bg-info w-50" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <div class="d-flex justify-content-between mt-2">
                <p class="text-white mb-0">Avance</p>
                <p class="text-white mb-0">50%</p>
            </div>
        </div>
    </div>
    
    <div class="card-title card-header text-secondary fw-bold mt-3">Participación del Directorio en Ciberseguridad</div>
    
    <div class="col-md-11 ml-auto mr-auto">
        <div class="col-md-7 row mt-5 ml-auto">
            <div class="col-md-3 h3 fw-bold text-success text-center">Muy de acuerdo</div>
            <div class="col-md-3 h3 fw-bold text-danger ml-auto">Muy en desacuerdo</div>
        </div>
    </div>

    <hr class="col-md-11 ml-auto mr-auto">

    <div class="col-md-11 ml-auto mr-auto ml-auto question row mt-4 mb-4">
        <div class="col-md-5" style="border-right: 1px solid rgba(0,0,0,.1);">
            <h2 class="fw-bold">El Directorio considera que la Ciberseguridad es prioridad en la organización</h2>
        </div>
        
        <div class="col-md-7 text-center">
            <div class="selectgroup selectgroup-primary selectgroup-pills row col-md-12 mr-auto ml-auto">
                
                <div class="col-md-3 my-auto col-sm-2">
                    <label class="selectgroup-item">
                        <input type="radio" name="icon-input1" value="1" class="selectgroup-input" id="1">
                        <span class="selectgroup-button selectgroup-button-icon btn-"><i class="far fa-grin-beam fa-3x"></i></span>
                    </label>
                </div>

                <div class="col-md-2 my-auto col-sm-2">
                    <label class="selectgroup-item">
                        <input type="radio" name="icon-input1" value="2" class="selectgroup-input" id="1">
                        <span class="selectgroup-button selectgroup-button-icon"><i class="far fa-smile fa-2x"></i></span>
                    </label>
                </div>

                <div class="col-md-2 my-auto col-sm-2">
                    <label class="selectgroup-item">
                        <input type="radio" name="icon-input1" value="0" class="selectgroup-input" checked id="1">
                        <span class="selectgroup-button selectgroup-button-icon"><i class="far fa-meh-blank fa-lg"></i></span>
                    </label>
                </div>

                <div class="col-md-2 my-auto col-sm-2">
                    <label class="selectgroup-item">
                        <input type="radio" name="icon-input1" value="3" class="selectgroup-input" id="1">
                        <span class="selectgroup-button selectgroup-button-icon"><i class="far fa-meh fa-2x"></i></span>
                    </label>
                </div>

                <div class="col-md-3 my-auto col-sm-2">
                    <label class="selectgroup-item">
                        <input type="radio" name="icon-input1" value="4" class="selectgroup-input" id="1">
                        <span class="selectgroup-button selectgroup-button-icon"><i class="far fa-frown fa-3x"></i></span>
                    </label>
                </div>

            </div>
        </div>
    </div>


    <hr class="col-md-11 ml-auto mr-auto">

    <div class="col-md-11 ml-auto mr-auto ml-auto question row mt-4 mb-4">
        <div class="col-md-5" style="border-right: 1px solid rgba(0,0,0,.1);">
            <h2 class="fw-bold">El Directorio se asegura de que las personas que toman acciones y decisiones en Ciberseguridad sean responsables de sus propias acciones y decisiones</h2>
        </div>
        
        <div class="col-md-7 text-center">
            <div class="selectgroup selectgroup-primary selectgroup-pills row col-md-12 mr-auto ml-auto">
                
                <div class="col-md-3 my-auto">
                    <label class="selectgroup-item">
                        <input type="radio" name="icon-input2" value="1" class="selectgroup-input" id="1">
                        <span class="selectgroup-button selectgroup-button-icon btn-"><i class="far fa-grin-beam fa-3x"></i></span>
                    </label>
                </div>

                <div class="col-md-2 my-auto">
                    <label class="selectgroup-item">
                        <input type="radio" name="icon-input2" value="2" class="selectgroup-input" id="1">
                        <span class="selectgroup-button selectgroup-button-icon"><i class="far fa-smile fa-2x"></i></span>
                    </label>
                </div>

                <div class="col-md-2 my-auto">
                    <label class="selectgroup-item">
                        <input type="radio" name="icon-input2" value="0" class="selectgroup-input" checked id="1">
                        <span class="selectgroup-button selectgroup-button-icon"><i class="far fa-meh-blank fa-lg"></i></span>
                    </label>
                </div>

                <div class="col-md-2 my-auto">
                    <label class="selectgroup-item">
                        <input type="radio" name="icon-input2" value="3" class="selectgroup-input" id="1">
                        <span class="selectgroup-button selectgroup-button-icon"><i class="far fa-meh fa-2x"></i></span>
                    </label>
                </div>

                <div class="col-md-3 my-auto">
                    <label class="selectgroup-item">
                        <input type="radio" name="icon-input1" value="4" class="selectgroup-input" id="1">
                        <span class="selectgroup-button selectgroup-button-icon"><i class="far fa-frown fa-3x"></i></span>
                    </label>
                </div>

            </div>
        </div>
    </div>

    <hr class="col-md-11 ml-auto mr-auto">

    <div class="col-md-11 ml-auto mr-auto ml-auto question row mt-4 mb-4">
        <div class="col-md-5" style="border-right: 1px solid rgba(0,0,0,.1);">
            <h2 class="fw-bold">El Directorio asegura que las personas apropiadas se hagan responsables de aspectos específicos de Ciberseguridad</h2>
        </div>
        
        <div class="col-md-7 text-center">
            <div class="selectgroup selectgroup-primary selectgroup-pills row col-md-12 mr-auto ml-auto">
                
                <div class="col-md-3 my-auto">
                    <label class="selectgroup-item">
                        <input type="radio" name="icon-input3" value="1" class="selectgroup-input" id="1">
                        <span class="selectgroup-button selectgroup-button-icon btn-"><i class="far fa-grin-beam fa-3x"></i></span>
                    </label>
                </div>

                <div class="col-md-2 my-auto">
                    <label class="selectgroup-item">
                        <input type="radio" name="icon-input3" value="2" class="selectgroup-input" id="1">
                        <span class="selectgroup-button selectgroup-button-icon"><i class="far fa-smile fa-2x"></i></span>
                    </label>
                </div>

                <div class="col-md-2 my-auto">
                    <label class="selectgroup-item">
                        <input type="radio" name="icon-input3" value="0" class="selectgroup-input" checked id="1">
                        <span class="selectgroup-button selectgroup-button-icon"><i class="far fa-meh-blank fa-lg"></i></span>
                    </label>
                </div>

                <div class="col-md-2 my-auto">
                    <label class="selectgroup-item">
                        <input type="radio" name="icon-input3" value="3" class="selectgroup-input" id="1">
                        <span class="selectgroup-button selectgroup-button-icon"><i class="far fa-meh fa-2x"></i></span>
                    </label>
                </div>

                <div class="col-md-3 my-auto">
                    <label class="selectgroup-item">
                        <input type="radio" name="icon-input3" value="4" class="selectgroup-input" id="1">
                        <span class="selectgroup-button selectgroup-button-icon"><i class="far fa-frown fa-3x"></i></span>
                    </label>
                </div>

            </div>
        </div>
    </div>

    <button class="btn btn-primary btn-lg mt-5 mb-5 col-md-2 mr-auto ml-auto btn-round">Siguiente</button>

</div>

{% endblock content %}

{% block javascripts %} 

<script>
    
    $('.selectgroup-input').click(function(){

        var div = $(this).parents(':eq(4)')
        // div.addClass("inactived");
        // div.next().removeClass("inactived");

        var elOffset = div.next().offset().top;
        var elHeight = div.next().height();
        var windowHeight = $(window).height();
        var offset;

        if (elHeight < windowHeight) {
            offset = elOffset - ((windowHeight / 2) - (elHeight / 2));
        }
        else {
            offset = elOffset;
        }

        $('html, body').animate({scrollTop:offset}, 500);
      })
    
</script>
    
{% endblock javascripts %}