#carouseltextbox{
    background-color: #71c1ffc5;
    height: 300px;
    border-radius: 20px;
}

#carouselbutton{
    margin-top: 220px;
}

@media only screen and (max-width: 768px) {
    #carouseltextbox{
        height: 480px;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    #carouselbutton{
        margin-top: 0;
    }
}

.animation.faded-out{
    opacity: 0;
}

.animation{
    background-color: black;
    border-radius: 50px;
    transition: opacity 2000ms;
    will-change: opacity;
}

#surveytoolbar {
    position: -webkit-sticky !important;
    position: sticky !important;
    top: 0 !important;
}

#fixeddiv{
    position: fixed;
}

@media only screen and (max-width: 1255px) {
    #fixeddiv{
        display: none;
    }
}

time.icon
{
  font-size: 1em; /* change icon size */
  display: block;
  position: relative;
  width: 7em;
  height: 7em;
  background-color: #fff;
  margin: 1em auto;
  border-radius: 0.6em;
  box-shadow: 0 1px 0 #bdbdbd, 0 2px 0 #fff, 0 3px 0 #bdbdbd, 0 4px 0 #fff, 0 5px 0 #bdbdbd, 0 0 0 1px #bdbdbd;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: rotate(0deg) skewY(0deg);
  -webkit-transform-origin: 50% 10%;
  transform-origin: 50% 10%;
}

time.icon *
{
  display: block;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  font-style: normal;
  text-align: center;
}

time.icon strong
{
  position: absolute;
  top: 0;
  padding: 0.4em 0;
  color: #fff;
  background-color: #36a3f7;
}

time.icon em
{
  position: absolute;
  bottom: 0.3em;
  color: #36a3f7;
}

time.icon span
{
  width: 100%;
  font-size: 2.8em;
  letter-spacing: -0.05em;
  padding-top: 0.8em;
  color: #2f2f2f;
}

time.icon:hover, time.icon:focus
{
  -webkit-animation: swing 0.6s ease-out;
  animation: swing 0.6s ease-out;
}

@-webkit-keyframes swing {
  0%   { -webkit-transform: rotate(0deg)  skewY(0deg); }
  20%  { -webkit-transform: rotate(12deg) skewY(4deg); }
  60%  { -webkit-transform: rotate(-9deg) skewY(-3deg); }
  80%  { -webkit-transform: rotate(6deg)  skewY(-2deg); }
  100% { -webkit-transform: rotate(0deg)  skewY(0deg); }
}

@keyframes swing {
  0%   { transform: rotate(0deg)  skewY(0deg); }
  20%  { transform: rotate(12deg) skewY(4deg); }
  60%  { transform: rotate(-9deg) skewY(-3deg); }
  80%  { transform: rotate(6deg)  skewY(-2deg); }
  100% { transform: rotate(0deg)  skewY(0deg); }
}

#table_module tr[disabled]{
  filter: blur(0.8px);
  pointer-events: none;
  background-color: rgb(240, 240, 240);
}


.spinner{
  width:30px;
  height:30px;
  border-radius:50%;
  border:3px solid #48abf7;
  background:transparent;
  border-top-color:#fff;
  border-bottom-color: #fff;
  border-left-color: #48abf7;
  animation:spin 5s linear infinite;
  position:relative;
}

@keyframes spin{
  0%{
    background:transparent;
    transform: rotate(720deg); 
  }

}
