{% extends "layouts/base.html" %}

{% block title %} Crear encuestas {% endblock %}

{% block stylesheets %} {% endblock stylesheets %}

{% block content %}

<div class="page-inner">

    <div class="page-header">
        <h4 class="page-title">Crear encuestas</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a href="">
                    <i class="flaticon-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="flaticon-right-arrow"></i>
            </li>
            <li class="nav-item">
                <a href="">Crear encuestas</a>
            </li>
        </ul>
    </div>

    <div class="row">

        <div class="col-md-2 text-center mt-3">
            <div id="fixeddiv">

                <div class="card">
                    <div class="card-body">
                        <p class="card-category mt--2 mb-2">Nueva pregunta</p>
                        <div>
                            <button onclick="new_question('alternativestemplate')" class="btn btn-secondary">Alternativas</button>
                        </div>
                        <br>
                        <div>
                            <button onclick="new_question('freetemplate')" class="btn btn-secondary">Libre</button>
                        </div>
                        <br>
                        <div>
                            <button onclick="new_question('valuetemplate')" class="btn btn-secondary">Apreciación</button>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body">
                        <p class="card-category mt--2 mb-2">N° preguntas</p>
                        <h1 class="text-secondary fw-bold" id="count1">0</h1>
                    </div>
                </div>
            
            </div>
        </div>

        <div class="form-group col-md-8">

            <label for="surveytitle">Nombre:</label>
            <input type="text" class="form-control form-control-lg mb-4" placeholder="ingresa el nombre del formulario" id="surveytitle">
            
            <label for="descrptionsurvey">Descripción:</label>
            <textarea name="" id="descrptionsurvey" cols="30" rows="5" class="form-control mb-5" placeholder="Ingresa una descripción para el formulario"></textarea>
            
            <hr>

            <div class="page-title mt-5">
                Listado de preguntas
            </div>

            <div id="alternativestemplate" style="display: none;">
                <div class="card mt-3" id="count">
                    <div class="card-title card-header row">
                        <input type="text" class="form-control col-md-7 mr-auto ml-auto" placeholder="Escribe aquí la pregunta" style="text-align: center;">
                        <a id="removequestion"><i class="fas fa-trash-alt" style="color: red;"></i></a>
                    </div>
                    <div class="card-body col-md-12">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addonA">A )</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Alternativa A" aria-describedby="basic-addonA">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addonB">B )</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Alternativa B" aria-describedby="basic-addonB">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addonC">C )</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Alternativa C" aria-describedby="basic-addonV">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addonD">D )</span>
                            </div>
                            <input type="text" class="form-control" placeholder="Alternativa D" aria-describedby="basic-addonD">
                        </div>        
                    </div>
                </div>
            </div>

            <div id="freetemplate" style="display: none;">
                <div class="card mt-3" id="count">
                    <div class="card-title card-header row">
                        <input type="text" class="form-control col-md-7 mr-auto ml-auto" placeholder="Escribe aquí la pregunta" style="text-align: center;">
                        <a id="removequestion"><i class="fas fa-trash-alt" style="color: red;"></i></a>
                    </div>
                    <div class="card-body col-md-12">
                        <textarea name="" id="" rows="10" style="width: 100%; resize: none; padding-bottom: 14.12px;" disabled></textarea>
                    </div>
                </div>
            </div>

            <div id="valuetemplate" style="display: none;">
                <div class="card mt-3" id="count">
                    <div class="card-title card-header row">
                        <input type="text" class="form-control col-md-7 mr-auto ml-auto" placeholder="Escribe aquí la pregunta" style="text-align: center;">
                        <a id="removequestion"><i class="fas fa-trash-alt" style="color: red;"></i></a>
                    </div>
                    <div class="form-group">
                        <div class="selectgroup w-100">
                            <label class="selectgroup-item">
                                <input type="radio" name="value" value="1" class="selectgroup-input" disabled>
                                <span class="selectgroup-button"> totalmente En desacuerdo</span>
                            </label>
                            <label class="selectgroup-item">
                                <input type="radio" name="value" value="2" class="selectgroup-input" disabled>
                                <span class="selectgroup-button">En desacuerdo</span>
                            </label>
                            <label class="selectgroup-item">
                                <input type="radio" name="value" value="3" class="selectgroup-input" disabled>
                                <span class="selectgroup-button">Ni acuerdo ni en desacuerdo</span>
                            </label>
                            <label class="selectgroup-item">
                                <input type="radio" name="value" value="4" class="selectgroup-input" disabled>
                                <span class="selectgroup-button">De acuerdo</span>
                            </label>
                            <label class="selectgroup-item">
                                <input type="radio" name="value" value="5" class="selectgroup-input" disabled>
                                <span class="selectgroup-button">Totalmente de acuerdo</span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>

            <div id="cardcontent">   

            </div>

            <div class="row row-card-no-pd" id="surveytoolbar">

                <div class="col-md-4">
                    <div class="card card-stats card-round">
                        <div class="card-body ml-auto mr-auto text-center">
                            <p class="card-category text-center">Nueva pregunta</p>
                            <div>
                                <button onclick="new_question('alternativestemplate')" class="btn btn-secondary">Alternativas</button>
                            </div>
                            <br>
                            <div>
                                <button onclick="new_question('freetemplate')" class="btn btn-secondary">Libre</button>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-stats card-round">
                        <div class="card-body ml-auto mr-auto text-center">
                            <p class="card-category">N° preguntas</p>
                            <h1 class="text-secondary fw-bold" id="count2">0</h1>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card card-stats card-round text-center">
                        <div class="card-body ml-auto mr-auto">
                            <p class="card-category">Crear encuesta</p>
                            <a href="" class="btn btn-success">Crear</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% endblock content %}


{% block javascripts %} 

<script>

    function new_question(type){
        var div = document.createElement('div');
        div.innerHTML = document.getElementById(type).innerHTML;
        var contenedor = document.getElementById('cardcontent');
        contenedor.appendChild(div);

        div.classList.add("animation", "faded-out", "removediv");
        $("#count1,#count2").text($("#cardcontent #count").length);

        requestAnimationFrame(() => {
            div.classList.remove("faded-out")
        });
    }

    $(document).on('click', '#removequestion', function(){
        $(this).closest('.removediv').remove()
        $("#count1,#count2").text($("#cardcontent #count").length);
    });
    
</script>

{% endblock javascripts %}