{% extends "layouts/base.html" %}

{% block title %} Menu principal {% endblock %}

{% block stylesheets %} {% endblock stylesheets %}



{% block content %}

<div class="page-inner">

    <div class="page-header">
        <h4 class="page-title">Menu principal</h4>
        <ul class="breadcrumbs">
            <li class="nav-home">
                <a href="{% url 'home' %}">
                    <i class="flaticon-home"></i>
                </a>
            </li>
        </ul>
    </div>

    {% for post in post_list %}

        <div class="card col-md-12" id="postlist">
            <div class="card-title card-header">
                <a href="{% url 'post_detail' post_uuid=post.uuid %}"><b>{{ post.title }}</b></a>
                <p class="text-muted">{{ post.created_at }}</p>
            </div>
            <div class="card-body row">
  
                <img src="media/{{ post.postimg }}" alt="">

                <div class="" id="textcontent">
                    <div id="textcard">
                        <p class="blockquote blockquote-primary">{{ post.contentbody | striptags }}</p>
                    </div>
                    <div>
                        <a href="{% url 'post_detail' post_uuid=post.uuid %}" class="lead pull-right">Seguir leyendo</a>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}

</div>

{% endblock content %}



{% block javascripts %} {% endblock javascripts %}