<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
</head>

<table cellpadding="30">

    <tr style="background-color: whitesmoke; ">
        <td>

            <div style="text-align: center; font-family:sans-serif;">
                <div style="background-color: #177dff;">
                    <img src="https://culturacyber.herokuapp.com/static/assets/img/cybertrust_candado.png" alt="" style="height: 150px; width: 130px;">
                </div>
    
                    <table cellpadding="20" style="background-color: white;">
                        <tr>
                            <td style="text-align: center;">
                                <h1 style="margin-top: 3vh;">Correo de confirmación</h1>

                                <p style="text-align: justify; margin-bottom: 8vh; margin-top: 1vh; font-size: 18px;">
                                    Estimado/a usuario, este correo ha sido registrado en la plataforma CyberCultura de Cybertrust, si cree que es un error simplemente ignore este mensaje, de lo contrario lo invitamos a hacer click en el botón confirmar para dirigirse al formulario de termino de registro y asi activar su cuenta en la plataforma.
                                </p>

                                <a href="https://culturacyber.herokuapp.com/completar_registro/{{useruuid}}" target="_blank" style="font-size: 14px; background-color: #36a3f7; text-decoration: none; color: white; border-top: 15px solid #36a3f7; border-bottom: 15px solid #36a3f7; border-left: 25px solid #36a3f7; border-right: 25px solid #36a3f7; border-radius: 3px;">
                                    Confirmar
                                </a>
                                <br>
                                <br>
                                <br>
                            </td>
                        </tr>
                    </table>

                <p style="margin-top: 5vh; font-size: 14px;">
                    En caso de que el botón no funcione, copie y pegue el siguiente link en su navegador: <a href="https://culturacyber.herokuapp.com/completar_registro/{{useruuid}}"><p style="margin-left: 1vh; margin-right: 1vh; font-size: 14px;">https://culturacyber.herokuapp.com/completar_registro/{{useruuid}}</p></a>
                </p>
            </div>

        </td>
    </tr>

</table>


